body {
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #f0f4ff;
}

div.content {
    margin-left: 2em;
    margin-right: 2em;
}

a {
    color: #173360;
    background-color: inherit;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 a, h1 a:hover
{
    color: black;
    text-decoration: none;
}

h2 a, h2 a:hover a, h3 a, h3 a:hover
{
    color: #888888;
    text-decoration: none;
}

h1 {
    clear: right;
    color: black;
    text-shadow: 0.05em 0.05em 0.1em #aaaaee;
    font-family: sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    border-bottom: 1px solid #aaaaee;
    padding-bottom: 0.1em;
    margin-bottom: 1em;
}

h2 {
    clear: right;
    color: black;
    text-shadow: 0.05em 0.05em 0.1em #aaaaee;
    font-family: sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid #aaaaee;
    padding-bottom: 0.1em;
    margin-bottom: 1em;
}

table {
    border: 1px solid #8888ff;
    border-collapse: collapse;
    padding-left: 1.75em;
    padding-right: 1.75em;
    min-width: 100%;
    table-layout: fixed;
}

table.sideways {
    border: 1px solid #8888ff;
    border-collapse: collapse;
    padding-left: 1.75em;
    padding-right: 1.75em;
    table-layout: fixed;
    min-width: 0;
}

col {
    border: 1px solid #8888ff;
}

th {
    text-align: right;
    background-color: #b1c1eb;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

td {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

tr > td:first-child, tr > th:first-child {
                         text-align: left;
                     }

td {
    text-align: right;
}

tr:nth-child(odd)  > td { background-color: #c5cfeb }
tr:nth-child(even) > td { background-color: #d5e1ff }

#navbox {
    margin-top: -1em;
    margin-bottom: 2.0em;
    font-family: sans-serif;
    font-weight: bold;
}

#navbox a {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#navbox span:after {
    padding-left: 1em;
    padding-right: 0.5em;
    content: "\00bb";
}

#navbox span:last-child:after {
    content: "";
}

#content {
	width: 1400px;
	margin: 0 auto;
	padding: 10px;
}

#clickdata {
    padding: 40px 40px 40px 40px;
}

/* TODO: simplify / eliminate styling that we don't care about */
.demo-container {
	box-sizing: border-box;
	width: 1400px;
	height: 600px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
}

.legend {
    width: 400px;
    padding-top: 30px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
