{% extends 'base.html' %}

{% block body %}
<title>Intel Mesa Perforate Scores</title>
<h1>Intel Mesa Perforate Scores</h1>
<div class="content">
  <table style="width:100%">
    <colgroup>
      <col/>
      <col/>
      <col/>
      <col/>
    </colgroup>
    <tr>
      <th> Machine </th>
      <th>Benchmark</th>
      <th>Commit</th>
      <th>Commit date</th>
      <th>Score</th>
      <th>Frequency</th>
    </tr>
    {% for score in scores %}
    <tr>
      <td>{{ score["host_name"] }}</td>
      <td>{{ score["benchmark_name"] }}</td>
      <td>{{ score["sha"] }}</td>
      <td>{{ score["date_str"] }}</td>
      <td>{{ score["fps"] }}</td>
      <td>{{ score["freq"] }}</td>
    </tr>
    {% endfor %}
  </table>
  <div class="row">
    {% if prev_score %}
    <div class="column">
      <h2>Previous Score</h2>
      <div>{{ prev_score["score"] }}</div>
      <div>{{ prev_score["stdev"] }}</div>
      <div>{{ prev_score["freq"] }}</div>
      <div>{{ prev_score["sha"] }}</div>
      <form action="{{ prev_score['bisect_link'] }}" method="post">
	<button type="submit">Bisect Previous</button>
      </form>
    </div>
    {% endif %}
    {% if next_score %}
    <div class="column">
      <h2>Next Score</h2>
      <div>{{ next_score["score"] }}</div>
      <div>{{ next_score["stdev"] }}</div>
      <div>{{ next_score["freq"] }}</div>
      <div>{{ next_score["sha"] }}</div>
      <form action="{{ next_score['bisect_link'] }}" method="post">
	<button type="submit">Bisect Next</button>
      </form>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
