{% extends 'base.html' %}

{% block body %}
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/excanvas.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/excanvas.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/excanvas.min.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/flot.jquery.json')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.colorhelpers.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.canvas.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.categories.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.crosshair.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.errorbars.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.fillbetween.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.image.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.navigate.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.pie.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.resize.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.selection.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.stack.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.symbol.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.threshold.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/flot/jquery.flot.time.js')}}"></script>


	<div id="header">
		<h2>{{ page_title }}</h2>
	</div>

	<div id="content">

		<div class="demo-container">
		  <div id="placeholder" class="demo-placeholder"></div>
		  <div id="legendContainer" class="legend"></div>
		  <p>
		    <div id="clickdata">
		  </p>
		</div>

	</div>

<script type="text/javascript">

  $(function() {
      var legendContainer = document.getElementById("legendContainer");
      var options = {
	  xaxis: {
	      mode: "time",
	      tickLength: 5,
          },
	  yaxis: {
	      min: 0,
	  },
          legend: {
	      show: true,
	      container: legendContainer,
	  },
	  series: {
	      points: { show: true },
	      lines: { show: true },
	  },
      	  grid: {
	      hoverable: true,
	      clickable: true
	  },
	  zoom: {
	      interactive: true
	  },
	  pan: {
	      interactive: true,
	      enableTouch: true
	  }
      };

      // draw the graph
      $.plot("#placeholder", {{data["points"]|tojson}}, options);

      // configure tooltip style
      $("<div id='tooltip'></div>").css({
	  position: "absolute",
	  display: "none",
	  border: "1px solid #fdd",
	  padding: "2px",
	  "background-color": "#f0f4ff",
	  opacity: 0.80
      }).appendTo("body");

      var git_commits = {{data["commits"]|tojson}}
      var freqs = {{data["frequencies"]|tojson}}
      var stdev = {{data["stdev"]|tojson}}
      // bind to the tooltip callback, to set text and display tooltip box
      $("#placeholder").bind("plothover", function (event, pos, item) {
	  if (item) {
	      var x = item.datapoint[0];
	      var y = item.datapoint[1];
	      var commit = git_commits[x];

	      $("#tooltip").html(`${item.series.label}<br>fps: ${y}<br>stdev: ${stdev[item.series.label][item.dataIndex]}<br>freq: ${freqs[item.series.label][item.dataIndex]}<br>${commit["sha"]}<br>${commit["date"]}<br>${commit["author"]}<br>${commit["summary"]}`)
		  .css({top: item.pageY+5, left: item.pageX+5})
		  .fadeIn(200);
	  } else {
	      $("#tooltip").hide();
	  }
      });
      $("#placeholder").bind("plotclick", function (event, pos, item) {
	  if (item) {
	      var x = item.datapoint[0];
	      var y = item.datapoint[1];
	      var commit = git_commits[x];
	      $("#clickdata").html(`
${item.series.label}<br>
fps: ${y}<br>
stdev: ${stdev[item.series.label][item.dataIndex]}<br>
freq: ${freqs[item.series.label][item.dataIndex]}<br>
${commit["sha"]}<br>
${commit["date"]}<br>
${commit["author"]}<br>
${commit["summary"]}<br>
<a href="{{ page_name }}/${item.series.label}/${commit['sha']}">Details</a>`
				  );
	      plot.highlight(item.series, item.datapoint);
	  }
      });
  });

</script>

{% endblock %}
