{% extends 'base.html' %}

{% block body %}
<title>Intel Mesa Perforate Scores</title>
<h1>Intel Mesa Perforate Scores</h1>
<div class="content">
  <table style="width:100%">
    <colgroup>
      <col/>
      <col/>
      <col/>
      <col/>
    </colgroup>
    <tr>
      <th> Machine </th>
      <th>Benchmark</th>
      <th>daily delta</th>
      <th>weekly delta</th>
      <th>monthly delta</th>
      <th>quarterly delta</th>
    </tr>
    {% for trend in trends %}
    <tr>
      <td><a href="{{ 'host/' + trend['host_name'] }}" >{{ trend["host_name"] }}</a></td>
      <td><a href="{{ 'benchmark/' + trend['benchmark_name'] }}" >{{ trend["benchmark_name"] }}</a></td>
      <td>{{ "%.2f%%" % trend["daily"] }}</td>
      <td>{{ "%.2f%%" % trend["weekly"] }}</td>
      <td>{{ "%.2f%%" % trend["monthly"] }}</td>
      <td>{{ "%.2f%%" % trend["quarterly"] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
