{% extends 'base.html' %}

{% block body %}
<title>Intel Mesa Perforate Scores</title>
<h1>Intel Mesa Perforate Scores</h1>
<div class="content">
  <table style="width:100%">
    <colgroup>
      <col/>
      <col/>
      <col/>
      <col/>
    </colgroup>
    <tr>
      <th> Machine </th>
      <th>Benchmark</th>
      <th>Commit</th>
      <th>Commit date</th>
      <th>Score</th>
      <th>Frequency</th>
    </tr>
    {% for score in scores %}
    <tr>
      <td>{{ score["host_name"] }}</td>
      <td>{{ score["benchmark_name"] }}</td>
      <td>{{ score["sha"] }}</td>
      <td>{{ score["date"] }}</td>
      <td>{{ score["fps"] }}</td>
      <td>{{ score["freq"] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
